.rtl {
    direction: rtl;
    text-align: right;
}

.rtl .box .col:not(:last-child)::after {
    left: 0;
    right: auto;
}

.rtl .box .col:last-child::after {
    display: none;
}

.rtl .menu {
    float: left;
}

.rtl .project-title {
    flex-direction: row-reverse;
}

.rtl .project-title h2 {
    margin-left: 0;
    margin-right: 0; 
}

.rtl .crawler-item {
    flex-direction: row-reverse;
}

.rtl .crawler-item span {
	margin-left: 0;
    margin-right: var(--spacing-md);
}

.rtl .col.borderless::after {
    display: none;
}

.rtl .label {
    margin-right: var(--spacing-md);
    margin-left: 0;
}

.rtl .issues-critical-title {
	border-right: 4px solid var(--issues-critical-highlight);
    border-left: none;
    padding-right: var(--spacing-md);
    padding-left: 0;
    background: linear-gradient(270deg, var(--issues-critical) 0%, transparent 100%);
}

.rtl .issues-alert-title {
	border-right: 4px solid var(--issues-alert-highlight);
    border-left: none;
    padding-right: var(--spacing-md);
    padding-left: 0;
    background: linear-gradient(270deg, var(--issues-alert) 0%, transparent 100%);
}

.rtl .issues-warning-title {
	border-right: 4px solid var(--issues-warning-highlight);
    border-left: none;
    padding-right: var(--spacing-md);
    padding-left: 0;
    background: linear-gradient(270deg, var(--issues-warning) 0%, transparent 100%);
}

.rtl .issues-passed-title {
    border-left: none;
    border-right: 4px solid var(--issues-passed-highlight);
    padding-right: var(--spacing-md);
    padding-left: 0;
    background: linear-gradient(270deg, var(--issues-passed) 0%, transparent 100%);
}

.rtl .project-title svg {
    transform: scaleX(-1); 
}

.rtl .project-crawl svg {
    transform: scaleX(-1);
}

.rtl .external_link {
    flex-direction: row-reverse;
}

.rtl .external_link a {
    margin-left: 0;
    margin-right: var(--spacing-sm);
    transform: scaleX(-1);
}